[submodule "todo-micronaut-java"]
	path = todo-micronaut-java
	url = https://github.com/faskan/todo-micronaut-java.git
[submodule "todo-kotlin-quarkus"]
	path = todo-kotlin-quarkus
	url = https://github.com/faskan/todo-kotlin-quarkus.git
[submodule "todo-java-springboot"]
	path = todo-java-springboot
	url = https://github.com/faskan/todo-java-springboot.git
[submodule "todo-kotlin-springboot"]
	path = todo-kotlin-springboot
	url = https://github.com/faskan/todo-kotlin-springboot.git
[submodule "todo-java-quarkus"]
	path = todo-java-quarkus
	url = https://github.com/faskan/todo-java-quarkus.git
[submodule "todo-micronaut-kotlin"]
	path = todo-micronaut-kotlin
	url = https://github.com/faskan/todo-micronaut-kotlin.git
[submodule "todo-angular"]
	path = todo-angular
	url = C:/Program Files/Git/todo-angular
